.cards-wrapper{
    
    justify-content: space-between;
}

//CARD STYLE
h4 {
    font-weight: 400;
}

// CARD SECTION LAYOUT
.card {
    position: relative;
    width: calc(100% - 10px);
    height: 450px;
    
}


.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    color: white;
    padding: 8px;
}

.card-body:hover {
    opacity: 1;
    background-color: black;
}



.card span {
    font-weight: 600;
    font-size: 16px;
}

.poster {
    width: 100%;
    height: 100%; 
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title, .original-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    // font-size: 12px;

}

.stars{
    color: gold;
    font-size: 24px;
    display: flex;
    gap: 4px;
}

.description {
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.language{
    display: flex;
    align-items: center;
    gap: 8px;
}

.flags {
    max-width: 24px;
}